<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/RaulGonzalezA/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Aspire.*" />
      <package pattern="Microsoft.*" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="Testcontainers.*" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="MongoDb.Generic.Repository" />
    </packageSource>
  </packageSourceMapping>
</configuration>
